<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoHallUI</servlet-name>
    <servlet-class>com.myh.controller.GoHallUI</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShoppingClServlet</servlet-name>
    <servlet-class>com.myh.controller.ShoppingClServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginCl</servlet-name>
    <servlet-class>com.myh.controller.LoginCl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoMyOrderServlet</servlet-name>
    <servlet-class>com.myh.controller.GoMyOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <servlet-class>com.myh.controller.SubmitOrderServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>GoHallUI</servlet-name>
    <url-pattern>/GoHallUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingClServlet</servlet-name>
    <url-pattern>/ShoppingClServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCl</servlet-name>
    <url-pattern>/LoginCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoMyOrderServlet</servlet-name>
    <url-pattern>/GoMyOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <url-pattern>/SubmitOrderServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
